{% extends 'eto_basa.html' %}

{% block head %}
    <link rel="stylesheet" href="src.css">
<title>
    Brokers list
</title>
{% endblock %}

{% block content %}
    <div class="d-flex ml-md-4 mt-4">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">BROKER NAME</th>
            <th scope="col">BROKER ADDRESS</th>
            <th scope="col">BROKER DOB</th>
        </tr>
        </thead>
        <tbody>
        {% for Broker in object_list %}
            <tr>
            <th scope="col">
                <a href="/broker/{{ Broker.broker_id }}">{{ Broker.broker_id }}</a>
            </th>
            <td>{{ Broker.broker_name }}</td>
            <td>{{ Broker.broker_addr }}</td>
            <td>{{ Broker.broker_dob }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}


