{% extends 'eto_basa.html' %}

{% block head %}
    <link rel="stylesheet" href="src.css">
<title>
    Seller list
</title>
{% endblock %}

{% block content %}
    <div class="d-flex ml-md-4 mt-4">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">SELLER NAME</th>
        </tr>
        </thead>
        {% for Seller in object_list %}
            <tbody>
            <tr>
                <th scope="col">
                    <a href="/seller/{{ Seller.seller_id }}">
                        {{ Seller.seller_id }}
                    </a>
                </th>
                <td>{{ Seller.seller_name }}</td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
</div>
{% endblock %}




