<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars list</title>
</head>
<body>
<style>table, tr, td {border: 1px black solid}</style>
<table>
    <tr>
        <td></td>
        <td> Color </td>
        <td> Make </td>
        <td> Model </td>
        <td> License plate </td>
    </tr>
    {% for car in cars %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.mark }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.number }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>