{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}
    <h1 style="margin-bottom: 25px">Все товары для бренда {{ brand }}</h1>
    {% for jewelry in products %}
        <div class="row">
            <div class="col-lg-2">
                <img class="car-img" src="{{ jewelry.image.url }}" width="150" height="150">
            </div>
            <div class="col-8">
                <h3><a class="article-title" href="{% url 'jewelry-detail' jewelry.id %}">{{ jewelry }}</a></h3>
            </div>
            {% if jewelry.sale %}
                <div class="col-2">
                    <h6><s>{{ jewelry.price }}р.</s></h6>
                    <h2 style="color: red">{{ 100|sub:jewelry.sale.sale_percent|div:100|mul:jewelry.price|floatformat:0 }}р.</h2>
                </div>
            {% else %}
                <div class="col-2">
                    <h2>{{ jewelry.price }}р.</h2>
                </div>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}
