<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Меню ГАИ</title>
</head>
<style>
     input[name=driver]{
        color: #003366;
    }
    input[name=car]{
        color: #6DDCBD;
            display: inline-block;
    }
    input[name=inspector]{
       color: #993300;
    }
    input[name=judgement]{
       color: #f5dd5d;
    }
    body{
        background: black;
    }
input {
    width: 1000px;
    height: 50px;
    background: grey;
  text-align: center;
}
form {
    padding-left: 25%;
    padding-bottom: 30%;
}

</style>
<body>
<form action="">
    <p><input type="submit" formmethod="get" name="driver" value="Добавить водителя"></p>
    <p><input type="submit" formmethod="get" name="car" value="Добавить машину"></p>
    <p><input type="submit" formmethod="get" name="inspector" value="Добавить инспектора"></p>
    <p><input type="submit" formmethod="get" name="judgement" value="Добавить нарушение"></p>
</form>
</body>
</html>