{#{% extends 'base.html' %}#}
{#{% block style %}#}
{#    <style>#}
{#.outer:before {#}
{#  content: '';#}
{#  display: inline-block;#}
{#  height: 100%;#}
{#  vertical-align: middle;#}
{#}#}
{##}
{#.inner {#}
{#  display: inline-block;#}
{#  vertical-align: middle;#}
{#}#}
{##}
{#/* добавим горизонтальное центрирование */#}
{#.outer {#}
{#  text-align: center;#}
{#}#}
{#</style>#}
{#{% endblock %}#}
{#{% block content %}#}
{#<div class="outer" >#}
{#<div class="inner">#}
{#        <a type="button" href="{% url 'signup_employer_url' %}" class="btn btn-outline-warning">Предлагаю работу</a>#}
{#    </div>#}
{#    <div class="inner">#}
{#        <a type="button" href="{% url 'signup_job_seeker_url' %}" class="btn btn-outline-warning">     Ищу работу</a>#}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}