.main-font {
    color: black;
    font-family: Bahnschrift;
    margin-top: 20px;

}
.info-pannel {
    background-color: transparent;
    border: solid 5px red;
    padding: 2%;
    margin: auto;
    margin-top: 3%;
}
.form-pannel {
    background-color: transparent;
    border: solid 5px red;
    padding: 2%;
    margin: auto;
}
.form-pannel-cell {
    color: black;
    margin-top: 3%;
}
.form-label {
    float: right;
}
.form-input {
    width: 100%;
    color: black;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}
.form-textarea {
    width: 100%;
    color: black;
    background: transparent;
    border: none;
    border: 2px solid black;
}
.alert {
    color: #212121;
    background-color: black;
    margin: 3%;
    padding: 2%;
}
.red-button {
    color: red;
    background-color: transparent;
    border: solid 4px red;
}
.green-button {
    color: #9ba57a;
    background-color: transparent;
    border: solid 4px #FF9BA57A;
}
.blue-button {
    color: aqua;
    background-color: transparent;
    border: solid 4px aqua;
}
