# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\djangoproj\take_two_one\django_project_fedorova\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
