{% extends "mainApp/wrapper.html" %}

{% block content %}
<ul text-align="right">
<div class="team">
<div class="row">
  <div class="col col-md-4">
    <img src="https://pbs.twimg.com/profile_images/499261770737795072/qgJb7mj_.jpeg" alt="advice" class="img-thumbnail">
    <div class="caption">
      <a href="advice"><h3>Advice lawyers</h3></a>
    </div>
  </div>
  <div class="col col-md-4 col-md-offset-1">
    <img src="https://i.redd.it/dkj8k8zbsjp51.png" alt="crash" class="img-thumbnail">
    <div class="caption">
      <a href="crash"><h3>Crash lawyers</h3></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-md-4">
    <img src="https://www.gannett-cdn.com/presto/2020/06/02/USAT/12001bde-90a1-45b0-a147-f8c7f9a800dd-cities-with-most-and-least-divorce.jpg" alt="divorce" class="img-thumbnail">
    <div class="caption">
      <a href="divorce"><h3>Divorce lawyers</h3></a>
    </div>
  </div>
  </div>
</div>
</ul>
{% endblock%}
