{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <img class="account-img" src="{{ user.image.url }}" width=250 height=250
                     style="float: left; margin-right: 20px">
                <div class="content-block-section">
                    <div style="height: 250px">
                        <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                        <p class="profile-info">{{ user.email }}</p>
                        <p class="profile-info">{{ user.phone }}</p>
                        {% if user.parent_phone %}
                            <p class="profile-info">{{ user.parent_phone }}</p>
                        {% endif %}
                        <p class="profile-info">{{ user.citizenship }}</p>
                        <p class="profile-info">{{ user.birthday }}</p>
                        {% if user.group %}
                            <p class="profile-info">{{ user.group }}</p>
                        {% endif %}
                    </div>
                    {% if user.is_teacher %}
                        <div style="margin-top: 20px">
                            <a class="btn btn-light" href="{% url 'lesson-new' %}">Провести занятие</a>
                        </div>
                    {% endif %}
                    <div style="margin-top: 20px">
                        <div class="row">
                            <div class="col-3">
                                <p style="text-align: center">Предметы</p>
                                <ul class="list-group">
                                    {% for subject in subjects %}
                                        <li class="list-group-item"><a
                                                href="{% url 'subject-detail' subject.id %}">{{ subject }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-7">
                                {% for lesson in lessons %}
                                    <h5>{{ lesson.lesson_number }}: {{ lesson.subject }}</h5>
                                    {% if user.is_teacher %}
                                        <p><a href="{% url 'lesson-detail' lesson.id %}">{{ lesson.group }}</a></p>
                                    {% else %}
                                        <p>{{ lesson.teacher }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if not user.is_teacher %}
                                <div class="col-2">
                                    {% for lesson in lessons %}
                                        {% if lesson.grade %}
                                            <h5>{{ lesson.grade.grade }}</h5>
                                        {% else %}
                                            <h5>Нет оценки</h5>
                                        {% endif %}
                                        <p>Оценка за урок</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}