{% extends 'base.html' %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-top mb-4">Зарегистрировать пользователя</legend>
            <input type="file" accept="image/*" id="image" name="image" placeholder="Картинка" required>
            <br>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <br>
            <input type="text" id="id_first_name" name="first_name" placeholder="Имя пользователя" required>
            <br>
            <input type="text" id="id_last_name" name="last_name" placeholder="Фамилия пользователя" required>
            <br>
            <input type="email" id="email" name="email" placeholder="Почта" required>
            <br>
            <input type="password" id="password1" name="password1" placeholder="Пароль" required>
            <br>
            <input type="password" id="password2" name="password2" placeholder="Потрверждение пароля" required>
            <br>
            <input type="text" id="id_phone" name="phone" placeholder="Номер телефона" required>
            <br>
            <input type="text" id="id_parent_phone" name="parent_phone" placeholder="Телефон родителей">
            <br>
            <input type="text" id="id_citizenship" name="citizenship" placeholder="Гражданство">
            <br>
            <input type="date" id="id_birthday" name="birthday">
            <br>
            <label for="id_is_teacher">Это учитель?</label>
            <input type="checkbox" id="id_is_teacher" name="is_teacher">
            <br>
            <label for="id_group">Группа</label>
            {{ form.group }}
            <br>
            <label for="id_school_grades">Сколько классов окончено</label>
            {{ form.school_grades }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Зарегистрироваться</button>
        </div>
    </form>
{% endblock content %}