{% extends 'base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <p>{{ u }}</p>
        {% for trip in trips %}
    <div class="card" style="width: 800px">
      <h5 class="card-header">{{trip.FkRoute.Name}}</h5>
      <div class="card-body">
        <p class="card-text">Дата: с {{ trip.DateS }} по {{ trip.DateE }}  Цена: {{ trip.Price }}</p>
        {% if user.is_authenticated %}
          <a href="{{ trip.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
          {% endif %}
      </div>
    </div>
		{% endfor %}
{% endblock %}