{% extends 'base.html' %}
{% block body %}
    <form class="login100-form validate-form" >
					<span class="login100-form-title p-b-34">
						Вы вышли
					</span>

					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">

					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
					</div>
        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">

					</div>

					<div class="container-login100-form-btn">

					</div>

					<div class="w-full text-center p-t-27 p-b-239">

					</div>
    <div class="w-full text-center">
						<a href="/accounts/login/ " class="txt3">
							Войти
						</a>
					</div>

				</form>
{% endblock %}