{% extends 'base.html' %}
{% block body %}
    <form class="login100-form validate-form" method="post" >
    {% csrf_token%}
					<span class="login100-form-title p-b-34">
						Зарегистироваться
					</span>

					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="first-name" class="input100" type="text" name="username" placeholder="Логин">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
						<input class="input100" type="password" name="password1" placeholder="Пароль">
						<span class="focus-input100"></span>
					</div>
                      <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
						<input class="input100" type="password" name="password2" placeholder="Повторите пароль">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Зарегистироваться
						</button>
					</div>
    <div class="w-full text-center">
						<a href="/accounts/login/ " class="txt3">
							Войти
						</a>
					</div>
				</form>
{% endblock %}