<div style="margin-left:47%; font: 13pt/10pt sans-serif;">
<h1>List of pilots</h1> <br>

{% for pilot in pilots %}
    <b>Pilot #{{ pilot.id }} </b>
    <p>Crew number: {{ pilot.crew.id }}</p>
    <p>Surname: {{ pilot.surname }}</p>
    <p>Position: {{ pilot.position }}</p>
    <p>birthdate: {{ pilot.birthdate }}</p>
<br><br><br>
{% endfor %}
</div>
<a href = "/">
<button style = "background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin-left:47.5%;
    text-decoration: none;
    display: inline-block;
    width:200px;
    font-size: 14px;">Main page</button>
</a>
<br><br>
<a href = "/pilot_form">
<button style = "background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin-left:47.5%;
    text-decoration: none;
    display: inline-block;
    width:200px;
    font-size: 14px;">Add pilot</button>
</a>