{% extends 'template.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Изделия</h1>
    {% if items %}
        {% for el in items %}
            <div class="alert alert-warning mt-2">
                <h3>{{ el.title }}</h3>
                <p>Сорт: {{ el.sort }}</p>
                <p>Количесто: {{ el.variety }}</p>
                <p>Цена: {{ el.prise }}</p>
                <p>Производитель: {{ el.organizations.title }}</p>
                <p><a href="items/update/{{el.id}}">Изменить</a> | <a href="deleteItem/{{el.id}}/">Удалить</a></p>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет записей</p>
    {% endif %}

{% endblock %}