<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню ГАИ</title>
</head>
<body>
<form action="">
    <p><input type="submit" formmethod="get" name="driver" value="Добавить водителя"></p>
    <p><input type="submit" formmethod="get" name="car" value="Добавить машину"></p>
    <p><input type="submit" formmethod="get" name="inspector" value="Добавить инспектора"></p>
    <p><input type="submit" formmethod="get" name="judgement" value="Добавить нарушение"></p>
</form>
</body>
</html>