<html>
    <head>
    <meta charset="UTF-8">
        <title>Мяу</title>
        <style>
            body{

                background: linear-gradient(to bottom, blueviolet, #17cbcb);
            }
            .nay{
                text-align: center;
                size: 20px;
                color:red;
            }

        </style>
    </head>
    <body>
    <div class="nay ">Мяу!<br>
        Это мой проект<br>

          <img src="https://i.ytimg.com/vi/lkQ0LDx9jHs/maxresdefault.jpg" >
            <img src="https://cdnimg.rg.ru/img/content/178/22/40/kotik_d_850.jpg" >

    </div>

    </body>
</html>